.heading{
  background-color: rgb(198, 222, 236);
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

.searchbar{
  margin-left: 15px;
  border-radius: 16px;
  border: solid;
  border-width: 1px;
  height: 40px;
  width: 30vh;
  margin: 15px;
}

.navigation{
  display: none;
}

.signup-signin-btn{
  height: 40px;
  width: 30vh;
}

.createAcc{
  display: block;
}

.loginToAcc{
  width: auto;
}