.container{
  margin: 20px;
}

.productimg{
  background-color: lightblue;
  float: left;
  height: 90vh;
  width: 40%;
}

.info{
  background-color: lightblue;
  float: right;
  display: block;
  height: 10vh;
  width: 58%;
  margin-bottom: 20px;
}

.price-product-details{
  background-color: lightblue;
  float: right;
  clear: right;
  height: 78vh;
  width: 58%
}